<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weimg.png">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css ">

    <title>Document</title>
</head>

<body>
    <div class="main-content">{{>header}}
        <!--<h1>{{title}}</h1>-->
        <p><b>The channel (0.65µm) lies in the visible region (0.4µm - 0.7µm) of the electromagnetic spectrum which can be
            seen with naked eye. Hence this channel is known as the Visible channel. The incoming solar radiation in
            this channel is reflected by Clouds and Ground. The amount of reflection depends on the type of reflective
            surface. Visible imagery is very useful for distinguishing clouds, land, and sea/ocean. Different types of
            clouds reflect in different amounts based on their physical properties like amount and size of raindrops /
            ice crystals and its density.</b>  </p>

        <!--<p>Created by {{name}}</p>-->
        <img class="portrait" src="/img/weatherimg2.jpeg" alt="">
    </div>
    {{>footer}}
</body>

</html>