<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
     <link rel="icon" href="/img/weimg.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css ">
     
    <title>Document</title>
</head>
<body> 
    <div class="main-content"> {{>header}}
   <!-- <h1>{{
         title
        }}</h1>-->
<img src="/img/helpimg2.png" alt="" style="width: 500px;height:350px;border-radius:10px">
    
 </div>

       {{>footer}}
</body>
</html>