<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weimg.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
     
</head>

<body>
    <div class="main-content">
        <br>
        <br>
        {{>header}}

        <p style="font-size: 20px;"><b>Use this site to get your weather!</b></p>

        <form>
            <input placeholder="Location" style="font-size: 20px; border-radius:5px">
             
            <button type="button" class="btn btn-primary btn-lg" style="font-size: 15px;">Search</button>
        </form>
         <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
 
</html>