 body{
     color:blueviolet;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     max-width: 600px;
     margin: 0 auto;
     padding: 0 15px;
     display:flex;
     flex-direction: column;
     min-height: 100vh;
 }
 .main-content{
     flex-grow: 1;
 }
 footer{
      color:cadetblue;
   
      border-top: 1px solid black;
      margin-top: 16px;
      padding-top: 10px;
      padding-left: 4px;
    }
header{
margin-bottom: 60px;
}

h1{
    font-size:60px ;
    color: black;
}

header a{
  color: gray;
  margin-right: 16px;
  text-decoration: none;
  font-size: 30px;
   
}
.portrait{
    width: 320px;
    height: 200px;
}